[2020-10-05 19:29] shubham2704 opened #1 "length conversion tool"
#  Create a length conversion  tool in html,css and javascript.

--

# Add this to your pr message

## Title

## Number of files/folder added

## changes made

## I have;

- [ ] Read contibuting.md
- [ ] Followed all the guidelines
- [ ] Linked my tool to the index.html file
- [ ] updated readme.md

[2020-10-05 19:33] shubham2704 opened #2 "weight conversion tool"
#  Create a weight conversion tool in html,css and javascript.

--

## Add this to your pr message

## Title

## Number of files/folder added

## changes made

## I have;

- [ ] Read contibuting.md
- [ ] Followed all the guidelines
- [ ] Linked my tool to the index.html file
- [ ] updated readme.md

[2020-10-05 19:34] shubham2704 opened #3 "currency conversion tool"
#  Create a currency conversion tool in html,css and javascript.

--

## Add this to your pr message

## Title

## Number of files/folder added

## changes made

## I have;

- [ ] Read contibuting.md
- [ ] Followed all the guidelines
- [ ] Linked my tool to the index.html file
- [ ] updated readme.md

[2020-10-05 19:35] astha-garhewal commented on #1
I would like to work on this issue. @shubham2704

[2020-10-05 19:36] shubham2704 opened #4 "speed conversion tool"
#  Create a speed conversion tool in html,css and javascript.

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **
--

## Ad

[2020-10-05 19:37] shubham2704 opened #5 "improve the design of index.html"
#  improve design

--

## Add this to your pr message

## Title

## Number of files/folder added

## changes made

## I have;

- [ ] Read contibuting.md
- [ ] Followed all the guidelines
- [ ] Linked my tool to the index.html file
- [ ] updated readme.md

[2020-10-05 19:40] prakhar-ai commented on #2
Can I work on this issue?

[2020-10-05 19:41] shubham2704 opened #6 "Add Description in index.html"
#  Create and Add Description of the website in index.html.

Don't copy form README.md

--

## Add this to your pr message

## Title

## Number of files/folder added

## changes made

## I have;

- [ ] Read contibuting.md
- [ ] Followed all the guidelines
- [ ] Linked my tool to the index.html file
- [ ] updated readme.md

[2020-10-05 19:43] shubham2704 opened #7 "scientific calculator"
#  Create a scientific calculator in html,css and javascript.

--

## Add this to your pr message

## Title

## Number of files/folder added

## changes made

## I have;

- [ ] Read contibuting.md
- [ ] Followed all the guidelines
- [ ] Linked my tool to the index.html file
- [ ] updated readme.md

[2020-10-05 19:43] kavita121 commented on #5
What kind of changes I can make??

[2020-10-05 19:44] shubham2704 opened #8 "discount calculator"
#  Create a discount calculator in html,css and javascript.

--

## Add this to your pr message

## Title

## Number of files/folder added

## changes made

## I have;

- [ ] Read contibuting.md
- [ ] Followed all the guidelines
- [ ] Linked my tool to the index.html file
- [ ] updated readme.md

[2020-10-05 19:44] shubham2704 opened #9 "Retirement Calculator"
#  Create a retirement calculator in html,css and javascript.
- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **
--

## Add

[2020-10-05 19:47] shubham2704 commented on #5
you are free to make any kind of changes until the site looks good. you can add animations, svg, transformation and etc.

[2020-10-05 19:48] shubham2704 opened #10 "Time Zone conversion tool"
#  Create a Time Zone conversion tool in html,css and javascript.

--

## Add this to your pr message

## Title

## Number of files/folder added

## changes made

## I have;

- [ ] Read contibuting.md
- [ ] Followed all the guidelines
- [ ] Linked my tool to the index.html file
- [ ] updated readme.md

[2020-10-05 20:39] negarjf commented on #5
I can start working on the home page if anyone else is not working on it.

[2020-10-05 20:59] adata111 commented on #8
Can I work on this issue?

[2020-10-05 21:21] ramonborges15 commented on #3
I would like to work on this issue. @shubham2704

[2020-10-05 22:00] ramonborges15 commented on #4
Can I work on this issue?

[2020-10-05 23:43] sourcefactory-at opened #13 "Temperature conversion tool"
# Create a Temperature conversion tool in html,css and javascript.
--

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **
-

[2020-10-06 00:47] shobhitsundriyal commented on #10
could you assign this to me?

[2020-10-06 01:50] Kelechi-Eluagu commented on #10
Please assign to me, I already worked on the descriptions

[2020-10-06 01:52] naijatechgirle commented on #6
Please assign to me

[2020-10-06 02:56] ADHIL-MOHAMMED-P-N commented on #5
@shubham2704 Made some changes in the UI.

[2020-10-06 03:02] shubham2704 commented on #5
I have seen your pull request the changes you made are good but,
you should have Read contibuting.md, First. Because before making a pull request you needed to be assigned fort this issue.  currently @negarjf id assigned and working on it.

[2020-10-06 03:36] nikita812 commented on #6
i have made websites using html css bootstrap and i can do this efficiently. please assign this to me

[2020-10-06 03:55] ADHIL-MOHAMMED-P-N commented on #5
@shubham2704 ok got it.

[2020-10-06 05:04] AasthaGoyalgit commented on #10
Can you assign this to me ?

[2020-10-06 05:37] purnima143 commented on #5
@shubham2704  Can I also work on this issue?

[2020-10-06 06:16] shubham2704 commented on #10
currently @shobhitsundriyal is working on this issue. you can try another one. If @shobhitsundriyal fails then i will assign it to you

[2020-10-06 06:18] shubham2704 commented on #6
currently @Kelechi-Eluagu is working on this issue, you can try another one. If @Kelechi-Eluagu fails, then i will assign it to you.

[2020-10-06 08:23] negarjf opened #17 "Add Hacktober Fest label to the Repository Description"
## Problem
After creating my first PR to this repository, in my Hactober Fest profile, I have noticed that the repository is not recognized as a Hacktober fest repo.

<img width="708" alt="Screenshot 2020-10-06 at 10 11 09" src="https://user-images.githubusercontent.com/24963113/95176519-456e4500-07bd-11eb-97f5-6fe14ef3b670.png">
<img width="715" alt="Screenshot 2020-10-06 at 10 11 19" src="https:

[2020-10-06 08:26] shubham2704 opened #18 "Add contributors.html page"
#  Create in contributors.html page html,css and javascript.
contributors.html page will be the page for listing all the contributors who have contributed to this repository.

--

## Add this to your pr message

## Title

## Number of files/folder added

## changes made

## I have;

- [ ] Read contibuting.md
- [ ] Followed all the guidelines
- [ ] Linked my tool to the index.html file
- [ ] update

[2020-10-06 08:43] shubham2704 commented on #17
@negarjf  It is already added to the repo. Very sorry  this happened I will figure it out what happened .

[2020-10-06 08:50] shubham2704 commented on #17
i think the issue is solved.
@negarjf make a new PR with same changes and i will accept it.

[2020-10-06 08:50] #17 closed

[2020-10-06 09:39] aditimaurya commented on #7
Hello @shubham2704 !! This project sounds cool to me, can you please assign this to me? I'd like to contribute.

[2020-10-06 10:05] sanyud24 commented on #13
can you assign this to me?

[2020-10-06 11:00] Asies23 commented on #3
Can I work on this issue?

[2020-10-06 11:15] ADHIL-MOHAMMED-P-N commented on #5
@shubham2704 made some changes!

[2020-10-06 14:13] shubham2704 commented on #5
@ADHIL-MOHAMMED-P-N Thank you for the contribution, it would take some time to merge you PR. As it's in review phase now.💚

[2020-10-06 14:22] purnima143 commented on #18
Can I work on this issue?

[2020-10-06 14:31] shubham2704 commented on #18
Yes sure. Go Ahead.

[2020-10-06 14:35] purnima143 commented on #18
@shubham2704  Could you tell me what all the stuff should be there in the contributors.html page?

[2020-10-06 15:07] ADHIL-MOHAMMED-P-N commented on #5
@shubham2704 Ok

[2020-10-06 15:51] naijatechgirle commented on #6
made changes and sent a PR @shubham2704

[2020-10-06 17:20] shubham2704 commented on #6
@Kelechi-Eluagu Thank you for the contribution. Your PR is in review phase now , it will be merged when if doesn't have any conflicts and passes the review.

[2020-10-06 17:34] shubham2704 commented on #18
- you have to design a page that will contain the names of every contributor who have contributed to this repo. make sure you
  follow the current design theme and make the page accordingly.
- Link the page in the footer section of the `index.html`  page beside the `Terms of Use`.
- (currently add the name of the contributors that are listed on this page `https://github.com/codeezzi/utility` under

[2020-10-06 18:29] adata111 opened #23 "Percentage Calculator as a part of Mathematical Tools"
#  Create a percentage calculator in html,css and javascript.

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **
--

## Ad

[2020-10-06 20:18] adata111 commented on #23
Could you please assign me to this issue?

[2020-10-07 05:27] purnima143 commented on #18
@shubham2704  I made a PR. Kindly check it.

[2020-10-07 06:52] georgioupanayiotis commented on #9
Hello @shubham2704 , can you please assign me ?

[2020-10-07 08:59] shubham2704 commented on #18
Thank you @purnima143 for the contribution your changes are currently in review. your PR will be merged as the review phase is over.

[2020-10-07 14:20] shubham2704 commented on #23
Also update the readme file and add percentage calculator to the list. in your PR

[2020-10-07 14:24] shubham2704 opened #27 "Volume conversion tool"
#  Create a Volume conversion tool in html,css and javascript.

--

## Add this to your pr message

## Title

## Number of files/folder added

## changes made

## I have;

- [ ] Read contibuting.md
- [ ] Followed all the guidelines
- [ ] Linked my tool to the index.html file
- [ ] updated readme.md
- [ ] add your name in the footer of your tool.html file (if you created length conversion tool then

[2020-10-07 14:52] shubham2704 opened #28 "Pressure Conversion tool"
#  Create a  pressure conversion tool in html,css and javascript.

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **
--

#

[2020-10-07 15:05] shubham2704 opened #29 "Storage conversion tool"
#  Create a Storage conversion tool in html,css and javascript.

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **
--

##

[2020-10-07 15:06] shubham2704 opened #31 "Energy conversion tool"
#  Create a  Energy conversion tool in html,css and javascript.

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **
--

##

[2020-10-07 15:07] shubham2704 opened #32 "Force conversion Tool"
#  Create a Force conversion tool in html,css and javascript.

--

## Add the below mention section to your PR message

## Title

## Number of files/folder added

## changes made

## I have;

- [ ] Read contibuting.md
- [ ] Followed all the guidelines
- [ ] Linked my tool to the index.html file
- [ ] updated readme.md
- [ ] add your name in the footer of your tool.html file (if you created length

[2020-10-07 15:08] shubham2704 opened #33 "Frequency conversion tool"
#  Create a Frequency conversion tool in html,css and javascript.

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **
--

#

[2020-10-07 15:10] shubham2704 opened #34 "Image/JPG to PNG conversion tool"
#  Create a Image/JPG to PNG conversion tool in html,css and javascript.

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` *

[2020-10-07 15:12] shubham2704 opened #35 "Sound Conversion tool"
#  Create a Sound conversion tool in html,css and javascript.

--

## Add the below mention section to your PR message

## Title

## Number of files/folder added

## changes made

## I have;

- [ ] Read contibuting.md
- [ ] Followed all the guidelines
- [ ] Linked my tool to the index.html file
- [ ] updated readme.md
- [ ] add your name in the footer of your tool.html file (if you created length

[2020-10-07 15:13] shubham2704 opened #36 "Resistence conversion tool"
#  Create a Resistence conversion tool in html,css and javascript.

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **
--

[2020-10-07 15:14] shubham2704 opened #37 "Power conversion tool"
#  Create a power conversion tool in html,css and javascript.

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **
--

## Ad

[2020-10-07 15:25] shubham2704 opened #38 "Flow Conversion tool"
#  Create a flow conversion tool in html,css and javascript.

--

## Add the below mention section to your PR message

## Title

## Number of files/folder added

## changes made

## I have;

- [ ] Read contibuting.md
- [ ] Followed all the guidelines
- [ ] Linked my tool to the index.html file
- [ ] updated readme.md
- [ ] add your name in the footer of your tool.html file (if you created length c

[2020-10-07 15:25] shubham2704 opened #39 "Angle conversion tool"
#  Create a Angle conversion tool in html,css and javascript.

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **
--

## Ad

[2020-10-07 15:26] shubham2704 opened #40 "Torque conversion tool"
#  Create a Torque conversion tool in html,css and javascript.

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **
--

## A

[2020-10-07 15:27] shubham2704 opened #41 "Viscosity conversion tool"
#  Create a viscosity conversion tool in html,css and javascript.

--

## Add the below mention section to your PR message

## Title

## Number of files/folder added

## changes made

## I have;

- [ ] Read contibuting.md
- [ ] Followed all the guidelines
- [ ] Linked my tool to the index.html file
- [ ] updated readme.md
- [ ] add your name in the footer of your tool.html file (if you created len

[2020-10-07 15:29] shubham2704 opened #42 "Density Conversion Tool"
#  Create a Density conversion tool in html,css and javascript.

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **
--

##

[2020-10-07 15:31] shubham2704 opened #43 "Fuel Efficiency calculator"
#  Create a Fuel Efficiency calculator tool in html,css and javascript.

--

## Add the below mention section to your PR message

## Title

## Number of files/folder added

## changes made

## I have;

- [ ] Read contibuting.md
- [ ] Followed all the guidelines
- [ ] Linked my tool to the index.html file
- [ ] updated readme.md
- [ ] add your name in the footer of your tool.html file (if you creat

[2020-10-07 15:34] shubham2704 opened #44 "compound interest calculator"
#  Create a compound interest calculator in html,css and javascript.

--

## Add the below mention section to your PR message

## Title

## Number of files/folder added

## changes made

## I have;

- [ ] Read contibuting.md
- [ ] Followed all the guidelines
- [ ] Linked my tool to the index.html file
- [ ] updated readme.md
- [ ] add your name in the footer of your tool.html file (if you created

[2020-10-07 15:35] shubham2704 opened #45 "Stock Return calculator"
#  Create a Stock Return calculator in html,css and javascript.

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **
--

##

[2020-10-07 15:37] shubham2704 opened #46 "Mortage calculator"
#  Create a Mortage calculator in html,css and javascript.

--

## Add the below mention section to your PR message

## Title

## Number of files/folder added

## changes made

## I have;

- [ ] Read contibuting.md
- [ ] Followed all the guidelines
- [ ] Linked my tool to the index.html file
- [ ] updated readme.md
- [ ] add your name in the footer of your tool.html file (if you created length con

[2020-10-07 15:38] shubham2704 opened #47 "Service Calculator"
#  Create a Service Tax Calculator in html,css and javascript.

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **
--

## A

[2020-10-07 15:38] shubham2704 opened #48 "E.M.I claculator"
#  Create a Time E.M.I calculator in html,css and javascript.
- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have bben made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **
--

## Add

[2020-10-07 15:41] #5 closed

[2020-10-07 15:42] #18 closed

[2020-10-07 15:46] shubham2704 commented on #10
@shobhitsundriyal are you still working on this issue

[2020-10-07 16:58] lmigula commented on #34
I would like to help on this one :)

[2020-10-07 17:32] summerag commented on #43
Can I help on this one?

[2020-10-07 17:34] programmerraja commented on #13
Is still open can i work on it ?

[2020-10-07 17:50] mrunalvilas commented on #39
can I work on this issue

[2020-10-07 18:10] shobhitsundriyal commented on #10
Yes, I will complete it by tomorrow.

[2020-10-07 18:23] OMEGAeNcore commented on #44
Please assign me to this issue.

[2020-10-07 18:27] bbodenheimer commented on #43
Looking into this

[2020-10-07 19:15] mrunalvilas commented on #39
thanks a lot

[2020-10-07 19:48] rahulvermafreelancer commented on #47
Hey, This is Rahul can I do this work. If like then assign it to me. I will try to make this more responsible.
Thank You

[2020-10-07 20:06] JatinAgrawal94 commented on #35
In which formats do you want the files to be converted?

[2020-10-07 20:21] tusharv commented on #48
@shubham2704 - Please assign this to me.

[2020-10-07 21:19] georgioupanayiotis commented on #9
Hi @shubham2704  opened PR https://github.com/codeezzi/utility/pull/49

[2020-10-07 22:27] roycebradley commented on #46
Hey @shubham2704 I will work on this one!

[2020-10-08 04:36] kushaangowda commented on #42
Hi @shubham2704, can you please assign this to me?

[2020-10-08 04:39] kushaangowda commented on #42
Can you please assign this to me?

[2020-10-08 07:19] 2apreety18 opened #51 "B.M.I calculator"
#  Create a B.M.I calculator in html,css and javascript.

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **
--

## Add the

[2020-10-08 09:12] shubham2704 commented on #35
you have to make the standard sound conversion tool which can convert mp3 to wav or mp3 to ogg and etc. you can also look up the other sound converter tools online and take inspiration from them

[2020-10-08 09:17] shubham2704 commented on #51
Okay go ahead but read these instruction first and make the changes accordingly.

## Add the below mention section to your PR message

## Title

## Number of files/folder added

## changes made

## check the options that you have completed,

I have;
- [ ] Read contibuting.md
- [ ] Followed all the guidelines
- [ ] Linked my tool to the index.html file
- [ ] updated readme.md
- [ ] add your name in

[2020-10-08 13:53] shubham2704 commented on #48
@tusharv some new guidelines have been added go through them the main ones are:
- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.h

[2020-10-08 13:55] shubham2704 commented on #47
@rahulvermafreelancer read the new guidelines:

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **

[2020-10-08 13:56] kushaangowda commented on #42
Hi @shubham2704, have added a new PR where I have created the converting tool. Can you please check it?

[2020-10-08 13:57] shubham2704 commented on #43
@bbodenheimer read the new guidelines:

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **

[2020-10-08 13:58] shubham2704 commented on #42
@kushaangowda  read the new guidelines:

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **

[2020-10-08 13:59] kushaangowda commented on #42
In index.html, had made a change to link it to density converting page, should i change it back to its original state?

[2020-10-08 13:59] shubham2704 commented on #39
@mrunalvilas read the new guidelines:

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **

[2020-10-08 14:01] shubham2704 commented on #34
@lmigula read the new guidelines:

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **

[2020-10-08 14:18] tusharv commented on #48
@shubham2704
Sure I have read your comments, so it's already implemented. 😃
This is how it's shaping up, I'll send PR soon.

![Screenshot (9)](https://user-images.githubusercontent.com/358703/95470974-0697e500-099f-11eb-82b7-6def4a033d56.png)

[2020-10-08 14:31] #8 closed

[2020-10-08 14:32] shubham2704 commented on #7
@aditimaurya you still working on this?

[2020-10-08 14:33] shubham2704 commented on #4
@ramonborges15 are you still working on this?

[2020-10-08 14:33] shubham2704 commented on #4
@ramonborges15 read the new guidelines:
- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **

[2020-10-08 14:33] #3 closed

[2020-10-08 14:34] shubham2704 commented on #2
@prakhar-ai are you still working on this?

read the new guidelines:
- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **

[2020-10-08 14:41] shubham2704 commented on #48
@tusharv good work 🥇

[2020-10-08 14:44] shubham2704 commented on #42
@kushaangowda yes change it back to the original state because changes in index.html creating many conflicts. and sometimes people remove others link and add their ones that's way we decided this rule.

don't worry your tool will be added by our side .

[2020-10-08 14:46] kushaangowda commented on #42
I have added a new PR @shubham2704. Please check it. If you want me to change anything, please let me know

[2020-10-08 14:51] aditimaurya commented on #7
@shubham2704  yes, yes I'm working on this.  Could you please tell me that is there any deadline to make a PR ?

[2020-10-08 14:52] ramonborges15 commented on #4
@shubham2704 yes. I'm trying conciliate my job's tasks and this issue.

[2020-10-08 14:55] prakhar-ai commented on #2
@shubham2704 Yes, I'm sorry for the delay. Will be adding the pull request in a few hours.

[2020-10-08 15:47] rahulvermafreelancer commented on #47
please check my pull request.

[2020-10-08 15:54] mrunalvilas commented on #39
hey I haven't seen anyone updating readme for the features, where should i add the description of the tool i am adding?

[2020-10-08 16:47] shobhitsundriyal commented on #10
Sorry, I don't think I will be able to complete it on time due to some problem, I am unassigning it.

[2020-10-08 17:33] KaviyaSenthil commented on #46
Hey @shubham2704  I would like to work on this.

[2020-10-08 18:49] bbodenheimer commented on #43
@shubham2704 What is the expected change for the README?

[2020-10-08 18:51] shubham2704 commented on #46
- currently this issue is assigned to @roycebradley . But you can choose any other issue to work on from here : `https://github.com/codeezzi/utility/issues` .
-  There are many unassigned issues that you can work on.

[2020-10-08 18:53] shubham2704 commented on #10
@AasthaGoyalgit I'm assigning this task to you as @shobhitsundriyal was unable to complete it.

[2020-10-08 19:01] shubham2704 commented on #39
@mrunalvilas don't worry on that it will be added by our team.
 🎉 Good work on the PR 🥇

[2020-10-08 19:07] shubham2704 commented on #2
@prakhar-ai No problem! As our contributing guidelines have been changed so read them before and make changes accordingly before makin the pull request. ✌

[2020-10-08 19:08] shubham2704 commented on #4
@ramonborges15 No problem! As our contributing guidelines have been changed so read them before and make changes accordingly before makin the pull request. ✌

[2020-10-08 19:08] shubham2704 commented on #7
@aditimaurya No problem! As our contributing guidelines have been changed so read them before and make changes accordingly before makin the pull request. ✌
- no there is no deadline to make a PR

[2020-10-08 19:10] shubham2704 commented on #43
@bbodenheimer Link your tool in the readme file

[2020-10-08 19:34] #44 closed

[2020-10-08 19:35] #42 closed

[2020-10-08 19:35] #39 closed

[2020-10-08 20:26] kartikagarwal9 commented on #43
I have created the calculator and sent a PR , please consider it @shubham2704

[2020-10-08 20:45] bbodenheimer commented on #43
@shubham2704 Thanks! Updated the README and realized the tool was in the wrong folder, so that's updated now as well

[2020-10-08 22:19] Rearo43 opened #65 "Loan Calculator Finance Tool"
# Create a Loan Calculator in html,css and javascript.
----------------------------------
- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository
##  **```**Note: Please Don't Make Any Changes In `index.html` A

[2020-10-08 22:21] Rearo43 commented on #65
May I please be assigned to the Loan Calculator in Finance Tools?

[2020-10-08 23:59] ramonborges15 commented on #4
@shubham2704 Ok, i will read them ✌!

[2020-10-09 02:00] programmerraja commented on #51
@shubham2704  Bro is still open can i work on it ?

[2020-10-09 10:40] AasthaGoyalgit commented on #10
Thanks!! @shubham2704

[2020-10-09 11:57] Salonii02 commented on #45
I would like to work on this .

[2020-10-09 13:52] shubham2704 commented on #45
@Salonii02 Yeah sure. 👩‍💻

[2020-10-09 14:52] #13 closed

[2020-10-09 14:52] #9 closed

[2020-10-09 14:54] #48 closed

[2020-10-09 14:55] #47 closed

[2020-10-09 14:55] #46 closed

[2020-10-09 15:01] shubham2704 commented on #51
@programmerraja currently @2apreety18 is working on this. if he's unable to make the calculator i will  assign it to you. Until you can work on other issue. ✌

[2020-10-09 16:51] ddaniss commented on #32
Is okay if I get this one?

[2020-10-09 17:09] saurabhhere commented on #40
Hi @shubham2704 , Can you assign this to me?
Also do you need any specific styling for this or should I go with same as others.

[2020-10-09 18:07] shubham2704 commented on #40
@saurabhhere you have to follow the design theme of index.html or you can make something creative that looks even better than that.
-  And follow the contributing guidelines.

[2020-10-09 20:24] PeterJanic commented on #29
Hi i would like to work on this tool. Can I be assigned to this?

[2020-10-10 01:53] Rearo43 commented on #65
Would you be willing to use EJS templating instead of copying all the nav bar code and other features from the index.js file? Contributors would be able to just write one line, "<%- include('../../layout/nav') %>" for example into their code. That one line would import all the navbar code to the contributors file and eliminate any risk of typos, keeping the whole site layout completely uniform. If

[2020-10-10 06:54] shubham2704 commented on #29
Yeah go ahead. And good Luck. ✌

[2020-10-10 16:02] #1 closed

[2020-10-10 16:07] #51 closed

[2020-10-10 16:11] #40 closed

[2020-10-10 16:42] shubham2704 commented on #65
Yes it would be great and

Yes it would be a great feature. Our team is planning on that, we will be adding the functionality of `handlebars` and `middlewares` . we will change the contributing guidelines as soon as this happens. But until then the guidelines remains the same and all the contributors have to manage with copy/paste, Because we have to also account for the beginner developers/contri

[2020-10-10 16:53] shubham2704 opened #68 "compass"
#  Create a compass tool in html,css and javascript.

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **
**Note: Only make

[2020-10-10 16:55] shubham2704 opened #69 "Notes tool"
#  Create a  Note taking tool in html,css and javascript.

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **
**Note: Only

[2020-10-10 16:59] shubham2704 opened #70 "encryption - decryption tool"
#  Create a  encryption - decryption tool in html,css and javascript.
### the tool should  encrypt/decrypt the plain  text messages.
### users can choose different methods of encryption. Add atleast 3 methods of encryption

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making

[2020-10-10 17:00] shubham2704 opened #71 "Morse convertor"
#  Create a Morse conversion tool in html,css and javascript.

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **
**Note: O

[2020-10-10 17:01] shubham2704 opened #72 "Password generator"
#  Create a  password Generator tool in html,css and javascript.

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **
**Note

[2020-10-11 02:40] dragonstin commented on #72
Hi, I would like to work on this.

[2020-10-11 06:37] MostHegz commented on #31
Can you please assign this to me?

[2020-10-11 09:28] adata111 commented on #71
Can I work on this?
Also by "Moorse" you mean "Morse" right?

[2020-10-11 11:05] lmigula commented on #69
I would like to help on this one :)

[2020-10-11 12:55] #34 closed

[2020-10-11 12:56] #23 closed

[2020-10-11 15:09] lmigula opened #78 "Imaget to pdf conversion tool"
While we are at it. The image conversion could be used as a basis for a conversion to pdf.
If you're interested I'd add that.

[2020-10-11 17:02] RahulSahOfficial opened #79 "Mortage Calculator page is not working"
there is a error in **mortgageCalc.js** **line 59**
unexpected }

[2020-10-11 17:06] shubham2704 opened #80 "PDF converter"
#  Create a PDF conversion tool in html,css and javascript. (tool for converting files to PDF format)

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.ht

[2020-10-11 17:06] shubham2704 commented on #78
I have created a new issue for this #80

[2020-10-11 17:06] #78 closed

[2020-10-11 17:09] shubham2704 commented on #79
@RahulSahOfficial thank you for the comment the error is fixed now. ✌

[2020-10-11 17:09] #79 closed

[2020-10-11 17:10] #69 closed

[2020-10-11 17:43] RahulSahOfficial commented on #28
Hi, I would like to work on this.

[2020-10-11 18:17] ananthalakshmiragi commented on #33
hi, i would like to work on this

[2020-10-11 19:08] lmigula commented on #80
obviously I would take this one ;)

[2020-10-11 21:13] georgioupanayiotis commented on #70
hello @shubham2704 I can take this task please assign me

[2020-10-12 03:18] dragonstin commented on #72
I just sent the commit.
Please let me know if you need me to change anything.
Thanks.

[2020-10-12 09:20] shashwatbangar commented on #80
I would love to work on this project

[2020-10-12 14:01] #28 closed

[2020-10-12 14:21] RahulSahOfficial commented on #37
Hi, I would like to work on this.
_(I had previously made the pressure convertor)_

[2020-10-12 19:10] ke3peR007 commented on #80
kindly let me know if I can work on it

[2020-10-12 19:15] ke3peR007 commented on #72
please let me know if I can work on this

[2020-10-12 21:01] shubham2704 commented on #80
@ke3peR007 it's already completed. But you can work on another issues always. ✌

[2020-10-12 21:01] #80 closed

[2020-10-12 21:01] shubham2704 commented on #72
@ke3peR007 This is already been completed but you can always work on other issues. ✌

[2020-10-12 21:01] #72 closed

[2020-10-13 08:23] RahulSahOfficial commented on #36
Hi, I would like to work on this.
_(I had previously made the pressure and power convertor)_

[2020-10-13 13:05] RahulSahOfficial commented on #37
### Close this issue as its already merged

[2020-10-13 13:16] #37 closed

[2020-10-13 15:39] Salonii02 commented on #45
@shubham2704
This is how the calculator is shaping up.
Please tell me if we can more parameters to calculate stock return value.
If this fine for you I will send PR.
Thank you.
![Screenshot from 2020-10-13 21-08-56](https://user-images.githubusercontent.com/61061499/95883267-5eb45a00-0d98-11eb-8956-6fd0603f0afa.png)

[2020-10-13 16:47] shubham2704 commented on #45
Looks good, just fix the footer, and if you could add parameters like time period, return rate then try adding them otherwise it's fine. ✔

[2020-10-13 16:54] Salonii02 commented on #45
Okay sure I will try to add them.
Can you tell what's wrong in footer part?

[2020-10-13 16:58] shubham2704 commented on #10
@AasthaGoyalgit Are you still working on this issue .

[2020-10-13 16:58] shubham2704 commented on #2
@prakhar-ai Are you still working on this issue.

[2020-10-13 16:59] shubham2704 commented on #7
@aditimaurya  are you still working on this issue.

[2020-10-13 17:00] shubham2704 commented on #4
@ramonborges15 are you still working on this issue.

[2020-10-13 17:06] shubham2704 commented on #45
Footer Should be fixed to the bottom currently it is too  big. Adding the reference image.
![Capture](https://user-images.githubusercontent.com/40126673/95892661-7560ae00-0da4-11eb-863a-077937d5d4b3.PNG)

[2020-10-13 17:11] shubham2704 opened #87 "Number series generator"
#  Create a Number Series Generator tool in html,css and javascript.
Add all the famous series like fibonacci series, AP,GP,HP, Perfect Square Series etc.

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repositor

[2020-10-13 17:13] aditimaurya commented on #7
@shubham2704  yes, I'm working on this and I'll soon submit a PR most probably this weekend or in the upcoming week. I'm having my exams going on, so the schedule is quite hectic I'll soon get back to you. Kindly give some time to me.

[2020-10-13 17:14] shubham2704 opened #88 "Roman Numericals"
#  Create a Integers/Numerical to Roman Numerical conversion tool in html,css and javascript.

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND

[2020-10-13 17:15] shubham2704 opened #89 "Ratio Calculator"
#  Create a Ratio Calculator in html,css and javascript.

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **
**Note: Only m

[2020-10-13 17:16] shubham2704 opened #90 "Decimal to Fraction"
#  Create a Decimal to Fraction conversion tool in html,css and javascript.

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html

[2020-10-13 17:17] shubham2704 opened #91 "Proportions calculator"
#  Create a Proportions calculator in html,css and javascript.

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **
**Note:

[2020-10-13 17:17] EANimesha commented on #90
I like to contribute to this issue assign me

[2020-10-13 17:19] EANimesha commented on #32
I like to contribute. Assign me

[2020-10-13 17:20] shubham2704 opened #92 "Number Base Conversion"
#  Create a Number Base conversion tool in html,css and javascript.
 should convert Binary to hex, decimal, octa and vice-versa for all.

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please

[2020-10-13 17:23] shubham2704 opened #93 "GCD,HCF,LCM Calculator"
#  Create a  GCD,HCF,LCM Calculator in html,css and javascript.

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **
**Note:

[2020-10-13 17:24] Natalia504 commented on #88
I'll take this one! Thanks!

[2020-10-13 17:24] shubham2704 opened #94 "Linear Equations"
#  Create a Linear Equations Evaluator in html,css and javascript.

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **
**No

[2020-10-13 17:25] shubham2704 opened #95 "Quadratic Equation"
#  Create a Quadratic Equation Evaluator in html,css and javascript.

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **
**

[2020-10-13 17:26] shubham2704 opened #96 "Cubic Equations"
#  Create a Cubic Equation Evaluator in html,css and javascript.

- Add navbar in your tool's html file. You can copy the navbar from index.html.
- Add screenshot of your tool in, PR message and also in the folder of your tool
- Before Making the PR Pull the latest changes that have been made to the repository

**Note: Please Don't Make Any Changes In `index.html` AND `contributors.html` **
**Note

[2020-10-13 17:30] shubham2704 commented on #7
@aditimaurya No problem, there is no time limit to finish any tool it's just we have to confirm regularly from the contributors.
And  `ALL THE BEST FOR EXAMS  👍✌`

[2020-10-13 17:36] shubham2704 commented on #88
you are always welcome 🎉

[2020-10-13 17:56] Salonii02 commented on #45
Now okay?
![Screenshot from 2020-10-13 23-26-28](https://user-images.githubusercontent.com/61061499/95897683-8d87fb80-0dab-11eb-881d-6610492714ef.png)

[2020-10-13 18:23] Natalia504 opened #97 "Navbar links are not linked correctly"
Click on any link in the dropdown it'll take you to the white page.

[2020-10-13 18:24] Natalia504 commented on #97
I'm currently working on this one.

[2020-10-13 19:23] RahulSahOfficial commented on #95
I will take this one

[2020-10-13 19:24] RahulSahOfficial commented on #92
I will take this one

[2020-10-13 19:56] shubham2704 commented on #45
Nicely Done. 👍

[2020-10-14 01:40] dinukad commented on #89
Hi @shubham2704 I would like to work on this. Please assign this to me.

[2020-10-14 04:24] astha-garhewal commented on #27
@shubham2704 I would like to work on this issue.

[2020-10-14 06:45] Salonii02 commented on #45
Hey @shubham2704
I have added PR.
Please review it.
Thank you.

[2020-10-14 10:15] khandelwal20sid commented on #93
Kindly assign me this issue

[2020-10-14 13:39] dinukad commented on #89
@shubham2704 I have created below PR to resolve this issue. Please check.
https://github.com/codeezzi/utility/pull/104

[2020-10-14 14:09] yashbansal130 commented on #94
I would like to work on this issue. please assign this to me.

[2020-10-14 20:16] ramonborges15 commented on #4
@shubham2704  I did it. But I have a problem. Since last Saturday I'm facing it but without success.
![image](https://user-images.githubusercontent.com/13764188/96040559-e5247680-0e40-11eb-81d5-0ff3269a4942.png)

[2020-10-14 21:12] ramonborges15 commented on #4
@shubham2704 The problem was solved. I already created the PR.

[2020-10-14 21:16] ramonborges15 commented on #87
@shubham2704  I will take this one!

[2020-10-15 05:41] Satyam-kumar-yadav commented on #96
i would like to work forward for this issue

[2020-10-15 13:55] aj-ya commented on #68
Hey! I'd like to work on this. Can you assign this to me.

[2020-10-15 15:31] #97 closed

[2020-10-15 18:24] RahulSahOfficial commented on #71
@adata111 are you still working on this I am interested in this
@shubham2704 what's the deadline of an assigned job

[2020-10-15 18:51] shubham2704 commented on #71
@RahulSahOfficial There is no deadline for any of the issues. Once @adata111 reply to your comment it will be clear, or i will assign the issue to both. Till then you can contribute to other issue. ✌

[2020-10-15 20:58] saumyasingh203 commented on #91
Hello!

May I work on this?

[2020-10-15 21:09] Anamika810 commented on #94
I would resolve this issue in a couple of days.

[2020-10-15 21:10] Anamika810 commented on #90
I would resolve this issue in a couple of days.

[2020-10-15 21:13] Anamika810 commented on #41
Kindly assign me this issue.

[2020-10-15 21:14] Anamika810 commented on #38
Kindly assign me this issue.

[2020-10-15 21:15] Anamika810 commented on #96
@Satyam-kumar-yadav are you still working on it?

[2020-10-15 22:07] saumyasingh203 commented on #91
![image](https://user-images.githubusercontent.com/59359575/96190987-c9b08d00-0f60-11eb-81e3-3b6c0aa9294c.png)

Is something like this fine?
I have followed all the guidelines mentioned  :)

[2020-10-15 23:05] adata111 commented on #71
Yes I am working, I'll be making a pr soon

[2020-10-16 03:57] Satyam-kumar-yadav commented on #96
@Anamika810 if you wanna work further you can do it.

[2020-10-16 06:38] adata111 commented on #10
Hi @AasthaGoyalgit are you still working on this issue? If not, then @shubham2704 I'd like to try this

[2020-10-16 07:13] AasthaGoyalgit commented on #10
I am in process.... I need some time

On Fri, Oct 16, 2020, 12:08 adata111 <notifications@github.com> wrote:

[2020-10-16 09:32] abhishek-mishra17 commented on #96
@shubham2704  I would like to work on this
also should i add the cubic equation evaluator in the mathematical tools right

[2020-10-16 09:48] shubham2704 commented on #90
@Anamika810 This issue is already completed by @EANimesha

[2020-10-16 09:49] shubham2704 commented on #96
@Anamika810 and @abhishek-pes this issue is already completed by @Satyam-kumar-yadav and will be closed soon.

[2020-10-16 09:51] abhishek-mishra17 commented on #96
oh okay any open issues?? In which I can work on

[2020-10-16 09:53] abhishek-mishra17 commented on #94
@shubham2704  can i work on this???

[2020-10-16 15:43] #36 closed

[2020-10-16 15:47] #90 closed

[2020-10-16 15:51] #95 closed

[2020-10-16 15:52] #89 closed

[2020-10-16 15:58] #93 closed

[2020-10-16 16:01] #4 closed

[2020-10-16 16:04] #94 closed

[2020-10-16 16:07] #96 closed

[2020-10-16 16:12] #91 closed

[2020-10-16 16:14] #71 closed

[2020-10-16 16:20] #92 closed

[2020-10-16 16:20] #88 closed

[2020-10-17 17:20] kushaangowda commented on #35
If this issue is still open, can I work on this?

[2020-10-17 17:55] negarjf opened #114 "Create a JSON library for tools"
As the number of tools is increasing in order to manage to show the tool in a more dynamic way, I would suggest creating a JSON file and store the tool's information inside the JSON objects.

One key advantage of such implementation is that in the future we can show all tools on the first page by looping through the JSON array of tools. Then the contributors just need to update the JSON file and t

[2020-10-17 17:56] negarjf commented on #114
I would like to work on this feature myself.

[2020-10-17 18:10] RahulSahOfficial commented on #114
Yes its requrired

[2020-10-17 19:50] tusharv opened #115 "Color Converter Tool"
# Create a Color Converter Tool using HTML, CSS, JavaScript

Color Converter tool that can converts color value from one format to another including
- Color Name
- RGB
- HEX

# Guidelines
I have contributed to this repo so I know guidelines and will follow that
@shubham2704 - Please let me know if any update is needed, Please assign this to me.

[2020-10-17 19:58] shubham2704 commented on #35
yes this issue is still open

[2020-10-18 09:06] AasthaGoyalgit commented on #10
Sorry, but I am unable to complete this task on time.

On Fri, Oct 16, 2020, 12:43 Aastha Goyal <aasthagoyal820@gmail.com> wrote:

[2020-10-18 13:11] aditimaurya commented on #7
@shubham2704 I have got a few confusions, so could you please clarify them? As per readme, I've to follow the design of index.html, so could you please clarify what does it mean? Also, do I have to link my tool with index.html or just have to submit the three files containing CSS, js and HTML with the tool's code and linking of those files will be done by you? Please clarify them, I'm actually new

[2020-10-18 15:18] shubham2704 commented on #10
@adata111 This issue is still open if you like you can work on this.

[2020-10-18 15:23] shubham2704 commented on #7
@aditimaurya
- Either you have to follow the design theme of index.html or you can create your own design it will be fine.
- No you don't have to link your tool to the index.html. Just submit your files and the linking part will be done by our side.

## If you still have any confusion, feel free to ask before making a PR.

[2020-10-19 03:35] soumikbaithalu commented on #68
Hi @shubham2704 this is my first contribution on hacktoberfest and this look perfect project for me can you assign it to me 😊

[2020-10-20 18:15] ananthalakshmiragi commented on #33
@shubham2704 I've added code for Frequency conversion. Please check. #129
Contributing to Hacktoberfest

[2020-10-20 19:47] shubham2704 commented on #33
@ananthalakshmiragi Your PR is already merged. 🎉✌

[2020-10-21 10:52] shubham2704 commented on #29
@PeterJanic Are you still working on this issue?

[2020-10-21 10:52] #31 closed

[2020-10-21 10:54] #33 closed

[2020-10-21 10:55] PeterJanic commented on #29
@shubham2704 Yes, sorry for delay. I have completed .html and .js...just making some changes with .css now. I will do PR today.

[2020-10-21 10:55] #45 closed

[2020-10-21 10:57] shubham2704 commented on #68
@soumik2012 this issue is already completed by @aj-ya but you can try any other open issue. There are still many issues that you can work on. ✌

[2020-10-21 10:57] #68 closed

[2020-10-21 10:58] #87 closed

[2020-10-21 10:58] #115 closed

[2020-10-22 03:45] kushaangowda commented on #35
@shubham2704, I am not able to find any online resource which explains how this tool can be implemented. Do you have any ideas?

[2020-10-22 17:56] shubham2704 commented on #114
@negarjf We tried to add dynamic navbar to other pages, but the navbar doesn't gets generated on other pages, it only worked on index.html page. can you please look into it and find the problem or fix it. ✌

[2020-10-22 17:56] shubham2704 commented on #114
@negarjf  Try to reply ASAP.

[2020-10-22 21:15] ramonborges15 commented on #2
@shubham2704 can you assign it to me?

[2020-10-23 17:52] RahulSahOfficial opened #131 "Resistance Calculator"
Hey @shubham2704  i am going to make resistance calculator in which user can select the color coding of a resistor and get the resistance value
You can add it inside daily use tools section

Assign it to me

![300px-Electronic-Axial-Lead-Resistors-Array](https://user-images.githubusercontent.com/62435110/97037119-7bb20f80-1586-11eb-8a1f-c7ad0f53c029.jpg)

Previously I have already made contributio

[2020-10-23 18:31] shubham2704 commented on #131
@RahulSahOfficial this issue is already completed. But you can contribute to some other issue there are still some issues left to do

[2020-10-23 18:46] RahulSahOfficial commented on #131
No its not
there is just convertor not calculator
that just convert from one unit to another
but this will calculate by color code

See this is already made
![Screenshot (232)](https://user-images.githubusercontent.com/62435110/97041977-fc283e80-158d-11eb-8479-b9664ef9cc20.png)

and i am going to make is this one

![Screenshot (233)](https://user-images.githubusercontent.com/62435110/97042004-09dd

[2020-10-24 09:07] programmerraja commented on #10
Is this still open sir?

[2020-10-24 13:51] shubham2704 commented on #10
@programmerraja yes this issue is still open

[2020-10-24 13:51] shubham2704 commented on #131
@RahulSahOfficial okay you can work on it.

[2020-10-24 15:21] programmerraja commented on #10
@shubham2704  Can i work on it ?

[2020-10-25 07:35] programmerraja commented on #2
@shubham2704
Is this still open i completed this work sir
Can i pull my request

[2020-10-25 08:16] programmerraja commented on #27
Is this still open sir ?

[2020-10-25 18:05] shubham2704 commented on #2
@programmerraja Yes you can crete a new pull request for this issue. ✌

[2020-10-25 18:05] shubham2704 commented on #27
@programmerraja Yes this issue is still open.

[2020-10-25 18:15] shubham2704 opened #134 "Bug in template.js"
## Description :
 when we try to navigate from one tool to another, for example if we are on density conversion tool ##### PATH `/conversionTools/density/density.html` and we try to navigate to energy conversion tool  then it is unable to get the path because the path that gets passed is `/conversionTools/density/conversionTools/Energy/energy.html` instead of `/conversionTools/Energy/energy.html`.

[2020-10-26 00:54] programmerraja commented on #27
@shubham2704 i completed this sir  i pull my request

[2020-10-27 00:39] programmerraja commented on #2
@shubham2704  sir can you take look my pull request #135
Just 3 days to go sir to complete hacktoberfest

[2020-10-27 00:40] programmerraja commented on #27
@shubham2704  sir can you take look my pull request #136
Just 3 days to go sir to complete hacktoberfest

[2020-10-27 09:30] xstable commented on #134
I'll have a look at this.

[2020-10-27 12:05] shubham2704 commented on #27
@programmerraja very sorry for the delay but we were facing some bug issues. That's why we didn't merged the new pull request.
Don't worry I will mark both of you pull request as `hacktoberfest-accepted` if they don't have any conflicts.

[2020-10-27 12:08] #134 closed

[2020-10-27 12:35] programmerraja commented on #27
@shubham2704  Ok sir thank you so much 👍

[2020-10-27 14:55] #29 closed

[2020-10-27 18:39] shubham2704 commented on #65
@Rearo43 Are you still working on this?

[2020-11-02 13:06] programmerraja commented on #10
@shubham2704  sir it harder then i think you can unassigned me Sorry

[2020-12-09 06:27] programmerraja opened #138 "Make website responsive for mobile"
I check the website through my mobile the tools are totally look bad and not showing navigation.
![_20201209_115645](https://user-images.githubusercontent.com/44333589/101593259-aad8ef00-3a15-11eb-868d-be0c82727c63.JPG)

[2020-12-23 02:40] programmerraja commented on #138
@shubham2704 can I work on this sir ?

[2021-03-24 12:22] atom19-i commented on #70
hey,is there anything i can work on,here?

[2021-03-26 19:20] shubham2704 commented on #70
@atom19-i Yes you can work on this one or you can choose from [here](https://github.com/codeezzi/utility/issues)